html{
    background-image: url('https://wallpapercave.com/wp/wp2672819.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
}



.myform{
   
    margin-left: 40%;
     margin-top: 12%;
    display: block;
    
}
#pass,#user,#fn,#ln{
    
    padding: 10px 40px;
    text-align:center;
    margin: 0;
    border-radius: 10px;
    background-color: white;
   
}
#insert{
    
    padding: 10px 40px;
    text-align:center;
    margin-left: 8%;
    background-color:whitesmoke;
    border-radius: 20px;
   
}



@media screen and (max-width: 800px) {
 
    html{
    background-image: url('https://wallpapercave.com/wp/wp2672819.jpg');
    background-repeat: no-repeat;
    background-size:auto;
}

    
    
.myform{
   
    margin-left: 28%;
     margin-top: 32%;
    
}
#pass,#user,#fn,#ln{
    
    padding: 6px 5px;
    text-align:center;
   
}
#insert{
    
    padding: 5px 40px;

    margin-left: 11%;
    background-color: white;
   
}
   

}
}